
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p> Welcome to RentC, your brand new solution to manage and control your company's data without missing anything.</p>

<br />
<br />
<br />
<br />

    <button class="btn btn-default col-md-6"> <a href="#">Enter Menu</a> </button>

    <button class="btn btn-default col-md-6"> <a href="#">Exit</a></button>

